html * {
  padding: 0.5em;
  margin: 0.5em;
}
table * {
  padding: 0.2em;
  margin: 0.2em;
}
.switch,
.button {
  border-radius: 999px;
  user-select: none;
}

#sdk-toggles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

td {
  text-align: center;
}
.switch[state="1"] {
  background-color: hsl(120, 100%, 85%);
}
.switch[state="0"] {
  background-color: hsl(0, 100%, 85%);
}
#normalize[state="1"] {
  background-color: hsl(180, 100%, 85%);
}
#normalize[state="0"] {
  background-color: hsl(20, 100%, 85%);
}
td:not([title=""]) {
  text-decoration: underline dashed 1px black;
}


.switch[state="1"]::before {
  content: "✔ ";
}
.switch[state="0"]::before {
  content: "✘ ";
}
