#sdk-toggles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#sdk-toggles *, table * {
  margin: 0.2em;
  padding: 0.2em;
}
#controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

td {
  text-align: center;
}
.switch[state="1"] {
  background-color: hsl(120, 100%, 85%);
}
.switch[state="0"] {
  background-color: hsl(0, 100%, 85%);
}
#normalize[state="1"] {
  background-color: hsl(180, 100%, 85%);
}
#normalize[state="0"] {
  background-color: hsl(20, 100%, 85%);
}
td:not([title=""]) {
  text-decoration: underline dashed 1px black;
}

