#sdk-toggles{display:flex;flex-wrap:wrap;justify-content:space-around}#sdk-toggles *,table *{margin:.2em;padding:.2em}#controls{display:flex;flex-wrap:wrap;justify-content:flex-end}td{text-align:center}.switch[state="1"]{background-color:#b3ffb3}.switch[state="0"]{background-color:#ffb3b3}#normalize[state="1"]{background-color:#b3ffff}#normalize[state="0"]{background-color:#ffccb3}td:not([title=""]){-webkit-text-decoration:underline dashed 1px #000;text-decoration:underline dashed 1px #000}
/*# sourceMappingURL=main.cb1a388a.chunk.css.map */